.QuoteText{
    
    height: 100vh;

}
.texttitle{
    font-weight:900;
    font-size: 80px;
    font-family: Impact;
}
.paraghraph{
    letter-spacing: 2px;
    margin-top: 20px;
    font-size: 24px;
}
.buttoncontrol{
    padding: 30px 50px;
    margin: 20px;
    border: black solid 2px;
}
.buttoncontrol:hover{
    background-color: green;
}